<a href="https://colab.research.google.com/github/mlfigueiredo/CienciaDosDados/blob/main/App_da_Playstore_Muito_Pre_Processamento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color='purple'> Previsão de Downloads de App da Playstore  </font>

![](https://i.pinimg.com/originals/48/6d/d9/486dd9c67519d3a5bfe8702b0ddda1c8.gif)

![](https://i.pinimg.com/originals/45/af/5c/45af5cf298ac93ea08d000ddd1c7aeed.gif)

![](https://i.gifer.com/NhdF.gif)

O sistema operacional Android chama a atenção com uma taxa de **uso de 40,24% em todo o mundo**. O Windows está em segundo lugar. O IOS vem em segundo lugar com taxa de utilização de 36,58%, seguido pelo Windows com 13,08%. Os sistemas operacionais OSX têm uma taxa de utilização de 5,43%.


A revolução do smartphone começou há menos de 2 décadas com a evolução de tecnologias como tela de toque e micro chips avançados que poderiam superar as capacidades de processamento de até mesmo alguns dos computadores da época. 

O **Android como sistema operacional **de celulares teve um papel importante no que chamamos de revolução dos smartphones, com **mais de 2 bilhões de usuários ativos por mês em todo o mundo.** O que torna o Android popular não é apenas sua estética ou desempenho, mas os milhões de aplicativos ou softwares que estão disponíveis para a plataforma gratuitamente ou pagos, para empresas ou consumidores.

*O desenvolvimento de aplicativos Android é uma habilidade exigente e cada empresa encontrou a necessidade de estabelecer sua presença no mercado, tendo seu próprio aplicativo disponibilizado aos usuários.*

# 1° Problema de Negócio

### Você, como cientista de dados, deve **prever o sucesso de um aplicativo Android ao construir um modelo de ML que pode prever a popularidade de um aplicativo com base em certos fatores.**

# 2° Análise Exploratória

![](https://cienciadosdados.com/images/2021/Thumbs/ad1.png)

In [1]:
# Download dos Dados da Nuvem AWS
!wget https://machinehack-be.s3.amazonaws.com/playstore_app_downloads_prediction_weekend_hackathon_16/PlayStoreApps-ParticipantsData.zip

--2022-07-21 20:16:27--  https://machinehack-be.s3.amazonaws.com/playstore_app_downloads_prediction_weekend_hackathon_16/PlayStoreApps-ParticipantsData.zip
Resolving machinehack-be.s3.amazonaws.com (machinehack-be.s3.amazonaws.com)... 52.219.156.119
Connecting to machinehack-be.s3.amazonaws.com (machinehack-be.s3.amazonaws.com)|52.219.156.119|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 931277 (909K) [application/zip]
Saving to: ‘PlayStoreApps-ParticipantsData.zip’

PlayStoreApps-Parti 100%[===================>] 909.45K   815KB/s    in 1.1s

2022-07-21 20:16:29 (815 KB/s) - ‘PlayStoreApps-ParticipantsData.zip’ saved [931277/931277]

In [2]:
# Comando de Descompactação do Arquivo
!unzip PlayStoreApps-ParticipantsData.zip

Archive:  PlayStoreApps-ParticipantsData.zip
  inflating: PlayStoreApps-ParticipantsData/Train.csv
  inflating: PlayStoreApps-ParticipantsData/Test.csv
  inflating: PlayStoreApps-ParticipantsData/Sample_Submission.csv

In [3]:
# Importação dos Pacotes para Análise de Dados
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
# Criação dos Dataframes no pandas para manipulação dos dados
train=pd.read_csv("/content/PlayStoreApps-ParticipantsData/Train.csv")
test=pd.read_csv("/content/PlayStoreApps-ParticipantsData/Test.csv")

In [7]:
# Vendo os 5 primeiros registros
train.head(5)

,Offered_By,Category,Rating,Reviews,Size,Price,Content_Rating,Last_Updated_On,Release_Version,OS_Version_Required,Downloads
0,ps_id-24654,Finance,4.18,1481,Varies with device,Free,Everyone,May 05 2020,Varies with device,Varies with device,"100,000+"
1,ps_id-35329,Music And Audio,4.81,302,10M,Free,Everyone,Mar 26 2020,3.9.18,4.1 and up,"5,000+"
2,ps_id-11044,Game Casual,4.27,374,27M,Free,Everyone,May 01 2020,1.10.1,4.1 and up,"10,000+"
3,ps_id-36068,Business,4.03,122058,Varies with device,Free,Teen,May 02 2020,Varies with device,Varies with device,"10,000,000+"
4,ps_id-35831,Medical,4.60,358,Varies with device,297.5742,Everyone,Nov 29 2018,Varies with device,Varies with device,"5,000+"

In [8]:
train.tail(5)

,Offered_By,Category,Rating,Reviews,Size,Price,Content_Rating,Last_Updated_On,Release_Version,OS_Version_Required,Downloads
16511,ps_id-5583,Health And Fitness,4.30,13724,Varies with device,Free,Everyone,Sep 21 2018,Varies with device,Varies with device,"1,000,000+"
16512,ps_id-15485,Beauty,4.73,70,7.9M,Free,Everyone,May 07 2020,0.2.5,4.1 and up,"10,000+"
16513,ps_id-36065,Health And Fitness,4.60,5420,21M,Free,Everyone,Jul 10 2019,2.48.3,4.1 and up,"500,000+"
16514,ps_id-12625,Productivity,4.60,1488289,Varies with device,Free,Everyone,Sep 07 2019,Varies with device,Varies with device,"100,000,000+"
16515,ps_id-4549,Game Role Playing,4.45,21201,16M,745.0542,Teen,Sep 20 2019,2.5.17.0,3.0 and up,"100,000+"

In [9]:
# Avaliando se existem registros com valores nulos
train.isnull().sum(),

(Offered_By             0
 Category               0
 Rating                 0
 Reviews                0
 Size                   0
 Price                  0
 Content_Rating         0
 Last_Updated_On        0
 Release_Version        0
 OS_Version_Required    0
 Downloads              0
 dtype: int64,)

In [10]:
# Avaliando se existem registros com valores nulos
test.isnull().sum(),

(Offered_By             0
 Category               0
 Rating                 0
 Reviews                0
 Size                   0
 Price                  0
 Content_Rating         0
 Last_Updated_On        0
 Release_Version        0
 OS_Version_Required    0
 dtype: int64,)

In [11]:
# Avaliando as dimensões da base de dados. O train com o target
train.shape,

((16516, 11),)

In [12]:
# Avaliando as dimensões da base de dados. O test sem o target
test.shape,

((24776, 10),)

In [13]:
# Avaliando o tipo dos campos
train.dtypes

Offered_By              object
Category                object
Rating                 float64
Reviews                  int64
Size                    object
Price                   object
Content_Rating          object
Last_Updated_On         object
Release_Version         object
OS_Version_Required     object
Downloads               object
dtype: object

In [14]:
# Junção das bases de treino e teste para obter mais informações sobre os dados. Lembrando que o test não tem o atributo Downloads
df=train.append(test,ignore_index=True)

In [16]:
df.isnull().sum()

Offered_By                 0
Category                   0
Rating                     0
Reviews                    0
Size                       0
Price                      0
Content_Rating             0
Last_Updated_On            0
Release_Version            0
OS_Version_Required        0
Downloads              24776
dtype: int64

In [31]:
df.tail(30)

,Offered_By,Category,Rating,Reviews,Size,Price,Content_Rating,Last_Updated_On,Release_Version,OS_Version_Required,Downloads,Size_type
41262,ps_id-34957,Lifestyle,3.50,8,9.2M,Free,Everyone,Mar 03 2020,1.0.4,4.2 and up,NaN,M
41263,ps_id-5854,Medical,4.78,6923,29M,Free,Everyone,Apr 24 2020,2.0.57,4.1 and up,NaN,M
41264,ps_id-3788,Game Sports,4.47,430195,74M,Free,Everyone,Mar 06 2020,1.0.30,4.1 and up,NaN,M
41265,ps_id-6859,Family,4.60,1218,4.0M,Free,Everyone,Jun 17 2018,3.0,4.0.3 and up,NaN,M
41266,ps_id-12984,Game Adventure,4.03,999915,Varies with device,Free,Mature 17+,Apr 30 2020,1.86.2,4.1 and up,NaN,e
41267,ps_id-8325,Tools,4.58,2455107,5.9M,Free,Everyone,Apr 03 2020,3.1.1,4.0 and up,NaN,M
41268,ps_id-1487,Lifestyle,3.66,116,11M,Free,Everyone,May 07 2020,1.2.0,6.0 and up,NaN,M
41269,ps_id-21820,Tools,4.80,5,8.8M,Free,Teen,Apr 22 2020,3,4.0.3 and up,NaN,M
41270,ps_id-5983,Personalization,4.00,2,8.0M,Free,Teen,Mar 13 2020,1.0.1,4.0 and up,NaN,M
41271,ps_id-32856,Personalization,4.30,29540,4.3M,Free,Everyone,Jul 20 2017,2.0,5.0 and up,NaN,M
41272,ps_id-15986,Family,4.10,120,32M,Free,Everyone,Apr 17 2019,2.0,4.1 and up,NaN,M
41273,ps_id-6724,Maps And Navigation,4.59,5130,6.9M,Free,Everyone,May 05 2020,1.5.21,4.0.3 and up,NaN,M
41274,ps_id-22395,Social,4.13,8982,101M,Free,Everyone,Apr 09 2020,5.5.1,5.0 and up,NaN,M
41275,ps_id-1700,Lifestyle,4.55,244,2.7M,Free,Everyone,May 07 2020,3.5.3,4.0 and up,NaN,M
41276,ps_id-20120,Family,4.00,250257,50M,Free,Everyone,Dec 21 2017,1.1.5,2.3.3 and up,NaN,M
41277,ps_id-35965,Game Educational,4.07,165,49M,Free,Everyone,Mar 06 2020,1.0.4,4.1 and up,NaN,M
41278,ps_id-1309,Books And Reference,4.82,2931,4.9M,Free,Everyone,Mar 14 2020,2.12,4.0.3 and up,NaN,M
41279,ps_id-26272,Game Card,4.03,584,58M,Free,Teen,Apr 17 2020,1.5.11,4.1 and up,NaN,M
41280,ps_id-21766,Finance,4.36,38805,4.7M,Free,Everyone,Aug 23 2017,3.7.2,3.2 and up,NaN,M
41281,ps_id-1461,Education,4.50,932,8.6M,Free,Everyone,Oct 07 2019,3.1,2.3.3 and up,NaN,M
41282,ps_id-28017,Game Adventure,4.71,52118,83M,Free,Everyone,Apr 30 2020,1.7.4,4.4 and up,NaN,M
41283,ps_id-31333,Game Strategy,4.02,8255,27M,Free,Everyone,Apr 11 2018,497,4.1 and up,NaN,M
41284,ps_id-28417,Food And Drink,4.48,4203,25M,Free,Everyone,Jun 21 2019,1.3.0,4.4 and up,NaN,M
41285,ps_id-25577,Tools,4.54,68,1.5M,73.8342,Everyone,Dec 12 2019,4.1,5.0 and up,NaN,M
41286,ps_id-9387,Family,3.80,271,8.3M,Free,Teen,Jul 17 2018,1.2.0,4.0 and up,NaN,M
41287,ps_id-30176,Shopping,3.74,38,21M,Free,Everyone,Feb 16 2020,2.4.20,4.1 and up,NaN,M
41288,ps_id-5357,Auto And Vehicles,4.80,4,4.5M,Free,Everyone,Jan 02 2019,1.3,5.0 and up,NaN,M
41289,ps_id-1920,Education,4.78,499,1.1M,Free,Everyone,Feb 16 2018,1.1,4.0.3 and up,NaN,M
41290,ps_id-6655,Game Puzzle,4.61,328050,72M,Free,Everyone,May 02 2020,2.5.3,4.1 and up,NaN,M
41291,ps_id-3916,Finance,3.98,1467,18M,Free,Everyone,Apr 30 2020,2.25.2,4.4 and up,NaN,M

In [18]:
df.shape

(41292, 11)

In [ ]:
df['Size'].value_counts()

Varies with device    4830
11M                   1015
12M                    872
13M                    773
14M                    761
                      ...
760k                     1
402k                     1
657k                     1
550k                     1
663k                     1
Name: Size, Length: 703, dtype: int64

#3° Pré-Processamento

In [28]:
# Funções para tratamento do campo "SIZE" (TAMANHO)
# Função que pega somente o último caracter do campo size
df['Size_type'] = df['Size'].str.strip().str[-1]
df['Size_type']

0        e
1        M
2        M
3        e
4        e
        ..
41287    M
41288    M
41289    M
41290    M
41291    M
Name: Size_type, Length: 41292, dtype: object

In [ ]:
### Transformação dos valores 
# lista a ser preenchida no looping
x=[]
# Looping de conversão
for i in df['Size_type']:
  if i=='e':
    x.append(0)
  elif i=='M':
    x.append(1024)
  elif i=='k':
    x.append(1)

# Preenchendo o valor do campo por "x"
df['Size_type']=x

# Extraindo o sinal de "+"
df['size_t']=df.Size.str.extract('(\d+)')

# Substituindo o missing por zero
df['size_t']=df['size_t'].fillna(0)

# multiplicando o campo pela sua dimensão (M: mega, então multiplica por 1024)
df['Size']=df['Size_type'].astype(int)*df['size_t'].astype(int)

# deleta
del df['Size_type']
del df['size_t']

#imputação de missing pela media
df['Size']=df['Size'].replace(0,df['Size'].mean())

In [ ]:
x

In [42]:
df

,Offered_By,Category,Rating,Reviews,Size,Price,Content_Rating,Last_Updated_On,Release_Version,OS_Version_Required,Downloads
0,ps_id-24654,Finance,4.18,1481,20254.44413,Free,Everyone,May 05 2020,Varies with device,Varies with device,"100,000+"
1,ps_id-35329,Music And Audio,4.81,302,10240.00000,Free,Everyone,Mar 26 2020,3.9.18,4.1 and up,"5,000+"
2,ps_id-11044,Game Casual,4.27,374,27648.00000,Free,Everyone,May 01 2020,1.10.1,4.1 and up,"10,000+"
3,ps_id-36068,Business,4.03,122058,20254.44413,Free,Teen,May 02 2020,Varies with device,Varies with device,"10,000,000+"
4,ps_id-35831,Medical,4.60,358,20254.44413,297.5742,Everyone,Nov 29 2018,Varies with device,Varies with device,"5,000+"
...,...,...,...,...,...,...,...,...,...,...,...
41287,ps_id-30176,Shopping,3.74,38,21504.00000,Free,Everyone,Feb 16 2020,2.4.20,4.1 and up,NaN
41288,ps_id-5357,Auto And Vehicles,4.80,4,4096.00000,Free,Everyone,Jan 02 2019,1.3,5.0 and up,NaN
41289,ps_id-1920,Education,4.78,499,1024.00000,Free,Everyone,Feb 16 2018,1.1,4.0.3 and up,NaN
41290,ps_id-6655,Game Puzzle,4.61,328050,73728.00000,Free,Everyone,May 02 2020,2.5.3,4.1 and up,NaN
41291,ps_id-3916,Finance,3.98,1467,18432.00000,Free,Everyone,Apr 30 2020,2.25.2,4.4 and up,NaN

In [43]:
# Substituindo free por "0"
df['Price']=df['Price'].replace('Free',0).astype(float)

In [44]:
df

,Offered_By,Category,Rating,Reviews,Size,Price,Content_Rating,Last_Updated_On,Release_Version,OS_Version_Required,Downloads
0,ps_id-24654,Finance,4.18,1481,20254.44413,0.0000,Everyone,May 05 2020,Varies with device,Varies with device,"100,000+"
1,ps_id-35329,Music And Audio,4.81,302,10240.00000,0.0000,Everyone,Mar 26 2020,3.9.18,4.1 and up,"5,000+"
2,ps_id-11044,Game Casual,4.27,374,27648.00000,0.0000,Everyone,May 01 2020,1.10.1,4.1 and up,"10,000+"
3,ps_id-36068,Business,4.03,122058,20254.44413,0.0000,Teen,May 02 2020,Varies with device,Varies with device,"10,000,000+"
4,ps_id-35831,Medical,4.60,358,20254.44413,297.5742,Everyone,Nov 29 2018,Varies with device,Varies with device,"5,000+"
...,...,...,...,...,...,...,...,...,...,...,...
41287,ps_id-30176,Shopping,3.74,38,21504.00000,0.0000,Everyone,Feb 16 2020,2.4.20,4.1 and up,NaN
41288,ps_id-5357,Auto And Vehicles,4.80,4,4096.00000,0.0000,Everyone,Jan 02 2019,1.3,5.0 and up,NaN
41289,ps_id-1920,Education,4.78,499,1024.00000,0.0000,Everyone,Feb 16 2018,1.1,4.0.3 and up,NaN
41290,ps_id-6655,Game Puzzle,4.61,328050,73728.00000,0.0000,Everyone,May 02 2020,2.5.3,4.1 and up,NaN
41291,ps_id-3916,Finance,3.98,1467,18432.00000,0.0000,Everyone,Apr 30 2020,2.25.2,4.4 and up,NaN

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41292 entries, 0 to 41291
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Offered_By           41292 non-null  object
 1   Category             41292 non-null  object
 2   Rating               41292 non-null  float64
 3   Reviews              41292 non-null  int64
 4   Size                 41292 non-null  float64
 5   Price                41292 non-null  float64
 6   Content_Rating       41292 non-null  object
 7   Last_Updated_On      41292 non-null  object
 8   Release_Version      41292 non-null  object
 9   OS_Version_Required  41292 non-null  object
 10  Downloads            16516 non-null  object
dtypes: float64(3), int64(1), object(7)
memory usage: 3.5+ MB

In [46]:
# Transformando o campo de data em datetime
df['Last_Updated_On'] = pd.to_datetime(df['Last_Updated_On'])

In [47]:
df

,Offered_By,Category,Rating,Reviews,Size,Price,Content_Rating,Last_Updated_On,Release_Version,OS_Version_Required,Downloads
0,ps_id-24654,Finance,4.18,1481,20254.44413,0.0000,Everyone,2020-05-05,Varies with device,Varies with device,"100,000+"
1,ps_id-35329,Music And Audio,4.81,302,10240.00000,0.0000,Everyone,2020-03-26,3.9.18,4.1 and up,"5,000+"
2,ps_id-11044,Game Casual,4.27,374,27648.00000,0.0000,Everyone,2020-05-01,1.10.1,4.1 and up,"10,000+"
3,ps_id-36068,Business,4.03,122058,20254.44413,0.0000,Teen,2020-05-02,Varies with device,Varies with device,"10,000,000+"
4,ps_id-35831,Medical,4.60,358,20254.44413,297.5742,Everyone,2018-11-29,Varies with device,Varies with device,"5,000+"
...,...,...,...,...,...,...,...,...,...,...,...
41287,ps_id-30176,Shopping,3.74,38,21504.00000,0.0000,Everyone,2020-02-16,2.4.20,4.1 and up,NaN
41288,ps_id-5357,Auto And Vehicles,4.80,4,4096.00000,0.0000,Everyone,2019-01-02,1.3,5.0 and up,NaN
41289,ps_id-1920,Education,4.78,499,1024.00000,0.0000,Everyone,2018-02-16,1.1,4.0.3 and up,NaN
41290,ps_id-6655,Game Puzzle,4.61,328050,73728.00000,0.0000,Everyone,2020-05-02,2.5.3,4.1 and up,NaN
41291,ps_id-3916,Finance,3.98,1467,18432.00000,0.0000,Everyone,2020-04-30,2.25.2,4.4 and up,NaN

In [48]:
# Criando campos temporais
k=['Last_Updated_On']
for i in k:
  df[i+'_'+'year'] = df[i].dt.year
  df[i+'_'+'day'] = df[i].dt.day
  df[i+'_'+'weekofyear'] = df[i].dt.weekofyear
  df[i+'_'+'month'] = df[i].dt.month
  df[i+'_'+'dayofweek'] =df[i].dt.dayofweek
  df[i+'_'+'weekend'] = (df[i].dt.weekday >=5).astype(int)
del df['Last_Updated_On']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.

In [50]:
df.head()

,Offered_By,Category,Rating,Reviews,Size,Price,Content_Rating,Release_Version,OS_Version_Required,Downloads,Last_Updated_On_year,Last_Updated_On_day,Last_Updated_On_weekofyear,Last_Updated_On_month,Last_Updated_On_dayofweek,Last_Updated_On_weekend
0,ps_id-24654,Finance,4.18,1481,20254.44413,0.0000,Everyone,Varies with device,Varies with device,"100,000+",2020,5,19,5,1,0
1,ps_id-35329,Music And Audio,4.81,302,10240.00000,0.0000,Everyone,3.9.18,4.1 and up,"5,000+",2020,26,13,3,3,0
2,ps_id-11044,Game Casual,4.27,374,27648.00000,0.0000,Everyone,1.10.1,4.1 and up,"10,000+",2020,1,18,5,4,0
3,ps_id-36068,Business,4.03,122058,20254.44413,0.0000,Teen,Varies with device,Varies with device,"10,000,000+",2020,2,18,5,5,1
4,ps_id-35831,Medical,4.60,358,20254.44413,297.5742,Everyone,Varies with device,Varies with device,"5,000+",2018,29,48,11,3,0

In [51]:
# Frequencia do campo "Release_Version"
df['Release_Version'].value_counts()

Varies with device    3880
1                     1758
1.1                    910
1.2                    723
1.3                    573
                      ...
9.3.34                   1
3.09.04.01               1
19.4.10                  1
5.11.7713                1
2.25.2                   1
Name: Release_Version, Length: 8052, dtype: int64

In [52]:
# Atribuindo o valor 0 para a release que tem o valor  "Varies with device "
df['Release_Version']=df['Release_Version'].replace('Varies with device','0')

In [53]:
df

,Offered_By,Category,Rating,Reviews,Size,Price,Content_Rating,Release_Version,OS_Version_Required,Downloads,Last_Updated_On_year,Last_Updated_On_day,Last_Updated_On_weekofyear,Last_Updated_On_month,Last_Updated_On_dayofweek,Last_Updated_On_weekend
0,ps_id-24654,Finance,4.18,1481,20254.44413,0.0000,Everyone,0,Varies with device,"100,000+",2020,5,19,5,1,0
1,ps_id-35329,Music And Audio,4.81,302,10240.00000,0.0000,Everyone,3.9.18,4.1 and up,"5,000+",2020,26,13,3,3,0
2,ps_id-11044,Game Casual,4.27,374,27648.00000,0.0000,Everyone,1.10.1,4.1 and up,"10,000+",2020,1,18,5,4,0
3,ps_id-36068,Business,4.03,122058,20254.44413,0.0000,Teen,0,Varies with device,"10,000,000+",2020,2,18,5,5,1
4,ps_id-35831,Medical,4.60,358,20254.44413,297.5742,Everyone,0,Varies with device,"5,000+",2018,29,48,11,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41287,ps_id-30176,Shopping,3.74,38,21504.00000,0.0000,Everyone,2.4.20,4.1 and up,NaN,2020,16,7,2,6,1
41288,ps_id-5357,Auto And Vehicles,4.80,4,4096.00000,0.0000,Everyone,1.3,5.0 and up,NaN,2019,2,1,1,2,0
41289,ps_id-1920,Education,4.78,499,1024.00000,0.0000,Everyone,1.1,4.0.3 and up,NaN,2018,16,7,2,4,0
41290,ps_id-6655,Game Puzzle,4.61,328050,73728.00000,0.0000,Everyone,2.5.3,4.1 and up,NaN,2020,2,18,5,5,1
41291,ps_id-3916,Finance,3.98,1467,18432.00000,0.0000,Everyone,2.25.2,4.4 and up,NaN,2020,30,18,4,3,0

In [54]:
# Realizando o Label enconding (dummies) na variável 'Release_Version'

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Release_Version'] = le.fit_transform(df['Release_Version'])
le.classes_

array(['0', '0.0.0-34-animals', '0.0.0-34-leaders', ..., 'Zs 5.2',
       '_18.08.01_ps', '_19.02.01-us_sy_ps'], dtype=object)

In [56]:
df['Release_Version']

0           0
1        5407
2         980
3           0
4           0
         ...
41287    3951
41288    1559
41289     797
41290    4068
41291    3761
Name: Release_Version, Length: 41292, dtype: int64

In [57]:
# Realizando o Label enconding (dummies) na variável 'Category'
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Category'] = le.fit_transform(df['Category'])
le.classes_

array(['Art And Design', 'Auto And Vehicles', 'Beauty',
       'Books And Reference', 'Business', 'Comics', 'Communication',
       'Dating', 'Education', 'Entertainment', 'Events', 'Family',
       'Finance', 'Food And Drink', 'Game', 'Game Action',
       'Game Adventure', 'Game Arcade', 'Game Board', 'Game Card',
       'Game Casino', 'Game Casual', 'Game Educational', 'Game Music',
       'Game Puzzle', 'Game Racing', 'Game Role Playing',
       'Game Simulation', 'Game Sports', 'Game Strategy', 'Game Trivia',
       'Game Word', 'Health And Fitness', 'House And Home',
       'Libraries And Demo', 'Lifestyle', 'Maps And Navigation',
       'Medical', 'Music And Audio', 'News And Magazines', 'Parenting',
       'Personalization', 'Photography', 'Productivity', 'Shopping',
       'Social', 'Sports', 'Tools', 'Travel And Local', 'Video Players',
       'Weather'], dtype=object)

In [58]:
df['Category']

0        12
1        38
2        21
3         4
4        37
         ..
41287    44
41288     1
41289     8
41290    24
41291    12
Name: Category, Length: 41292, dtype: int64

In [59]:
# Realizando o Label enconding (dummies) na variável 'Content_Rating'
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Content_Rating'] = le.fit_transform(df['Content_Rating'])
le.classes_

array(['Adults only 18+', 'Everyone', 'Everyone 10+', 'Mature 17+',
       'Teen', 'Unrated'], dtype=object)

In [60]:
df['Content_Rating']

0        1
1        1
2        1
3        4
4        1
        ..
41287    1
41288    1
41289    1
41290    1
41291    1
Name: Content_Rating, Length: 41292, dtype: int64

In [61]:
# Realizando o Label enconding (dummies) na variável 'OS_Version_Required'
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['OS_Version_Required'] = le.fit_transform(df['OS_Version_Required'])
le.classes_

array(['1.0 and up', '1.1 and up', '1.5 and up', '1.6 and up',
       '2.0 and up', '2.0.1 and up', '2.1 and up', '2.2 - 6.0',
       '2.2 and up', '2.3 - 3.2', '2.3 and up', '2.3.3 and up',
       '3.0 and up', '3.1 and up', '3.2 and up', '4.0 - 5.1',
       '4.0 and up', '4.0.3 - 7.1.1', '4.0.3 and up', '4.1 - 7.1.1',
       '4.1 - 8.0', '4.1 and up', '4.2 - 8.0', '4.2 and up', '4.3 and up',
       '4.4 and up', '4.4w and up', '5.0 - 6.0', '5.0 - 8.0',
       '5.0 and up', '5.1 and up', '6.0 and up', '7.0 - 7.1.1',
       '7.0 and up', '7.1 and up', '8.0 and up', 'Varies with device'],
      dtype=object)

In [62]:
df['OS_Version_Required']

0        36
1        21
2        21
3        36
4        36
         ..
41287    21
41288    29
41289    18
41290    21
41291    25
Name: OS_Version_Required, Length: 41292, dtype: int64

In [63]:
df['Offered_By']

0        ps_id-24654
1        ps_id-35329
2        ps_id-11044
3        ps_id-36068
4        ps_id-35831
            ...
41287    ps_id-30176
41288     ps_id-5357
41289     ps_id-1920
41290     ps_id-6655
41291     ps_id-3916
Name: Offered_By, Length: 41292, dtype: object

In [64]:
# Eliminando o sinal de "+"  da Variável
df['Offered_By']=df.Offered_By.str.extract('(\d+)').astype(int)

In [65]:
df

,Offered_By,Category,Rating,Reviews,Size,Price,Content_Rating,Release_Version,OS_Version_Required,Downloads,Last_Updated_On_year,Last_Updated_On_day,Last_Updated_On_weekofyear,Last_Updated_On_month,Last_Updated_On_dayofweek,Last_Updated_On_weekend
0,24654,12,4.18,1481,20254.44413,0.0000,1,0,36,"100,000+",2020,5,19,5,1,0
1,35329,38,4.81,302,10240.00000,0.0000,1,5407,21,"5,000+",2020,26,13,3,3,0
2,11044,21,4.27,374,27648.00000,0.0000,1,980,21,"10,000+",2020,1,18,5,4,0
3,36068,4,4.03,122058,20254.44413,0.0000,4,0,36,"10,000,000+",2020,2,18,5,5,1
4,35831,37,4.60,358,20254.44413,297.5742,1,0,36,"5,000+",2018,29,48,11,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41287,30176,44,3.74,38,21504.00000,0.0000,1,3951,21,NaN,2020,16,7,2,6,1
41288,5357,1,4.80,4,4096.00000,0.0000,1,1559,29,NaN,2019,2,1,1,2,0
41289,1920,8,4.78,499,1024.00000,0.0000,1,797,18,NaN,2018,16,7,2,4,0
41290,6655,24,4.61,328050,73728.00000,0.0000,1,4068,21,NaN,2020,2,18,5,5,1
41291,3916,12,3.98,1467,18432.00000,0.0000,1,3761,25,NaN,2020,30,18,4,3,0

In [76]:
train['Downloads'].value_counts()
#test.dtypes

100,000+          3158
1,000,000+        2707
10,000+           2239
500,000+          1360
10,000,000+       1277
50,000+           1243
1,000+            1221
5,000,000+         912
5,000+             763
100+               508
500+               364
100,000,000+       266
50,000,000+        247
10+                 91
50+                 84
500,000,000+        42
1,000,000,000+      33
5,000,000,000+       1
Name: Downloads, dtype: int64

In [78]:
# o train será o dataframe que possui valores no atributo Downloads
train = df[df['Downloads'].isnull()==False]
# o test será o dataframe que não possui valores no atributo Downloads
test = df[df['Downloads'].isnull()==True]
# já que test possui valores vazios no atributo Download, então apago esse atributo
del test['Downloads']

In [91]:
train

,Offered_By,Category,Rating,Reviews,Size,Price,Content_Rating,Release_Version,OS_Version_Required,Downloads,Last_Updated_On_year,Last_Updated_On_day,Last_Updated_On_weekofyear,Last_Updated_On_month,Last_Updated_On_dayofweek,Last_Updated_On_weekend
0,24654,12,4.18,1481,20254.44413,0.0000,1,0,36,7,2020,5,19,5,1,0
1,35329,38,4.81,302,10240.00000,0.0000,1,5407,21,9,2020,26,13,3,3,0
2,11044,21,4.27,374,27648.00000,0.0000,1,980,21,4,2020,1,18,5,4,0
3,36068,4,4.03,122058,20254.44413,0.0000,4,0,36,5,2020,2,18,5,5,1
4,35831,37,4.60,358,20254.44413,297.5742,1,0,36,9,2018,29,48,11,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16512,15485,2,4.73,70,7168.00000,0.0000,1,118,21,4,2020,7,19,5,3,0
16513,36065,32,4.60,5420,21504.00000,0.0000,1,4021,21,16,2019,10,28,7,2,0
16514,12625,43,4.60,1488289,20254.44413,0.0000,1,0,36,8,2019,7,36,9,5,1
16515,4549,26,4.45,21201,16384.00000,745.0542,4,4052,12,7,2019,20,38,9,4,0
16516,36520,49,4.37,41919102,20254.44413,0.0000,4,0,36,11,2020,6,19,5,2,0

In [80]:
# Preparando o TARGET "Downloads"
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
train['Downloads'] = le.fit_transform(train['Downloads'])
le.classes_

is_hol = train['Downloads'] == 11
df_try = train[is_hol]
train=train.append([df_try],ignore_index=True)
train_df=train
test_df=test

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [92]:
train['Downloads']

0         7
1         9
2         4
3         5
4         9
         ..
16512     4
16513    16
16514     8
16515     7
16516    11
Name: Downloads, Length: 16517, dtype: int64

In [93]:
# Separando as Variáveis Explicativas e Target
X = train_df.drop(labels=['Downloads'], axis=1)
y = train_df['Downloads'].values

In [94]:
# Realizando a Amostragem
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.10, random_state=101, stratify=y)

In [95]:
# Verificando dimensões das bases de dados
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((14865, 15), (14865,), (1652, 15), (1652,))

# 4° e 5° Construção e Avaliação da Máquina Preditiva

![](https://cienciadosdados.com/images/en2.png)

In [96]:
# Importando pacotes de métricas e do algoritmo 
from sklearn.metrics import log_loss
import lightgbm as lgb

In [97]:
# Preparando os dados na Máquina Preditiva 
train_data = lgb.Dataset(X_train, label=y_train)
test_data = lgb.Dataset(X_test, label=y_test)

In [98]:
# Tunagem de Hiperparâmetros
param = {
         'num_iterations': 400,
         'metric': 'multi_logloss',
         'objective': 'multiclass',
         'num_class': 18,
         'learning_rate': 0.09,
         'boosting': 'dart',  
         'num_leaves': 31,
         'max_depth': -1,
         'min_data_in_leaf': 30,
         'bagging_fraction':0.9,
         'bagging_freq': 2,
         'feature_fraction': 0.9,
         'lambda_l2': 0.9,
         'min_data_per_group': 500,
         'max_bin': 255,
         'is_unbalance':True
         
         }

In [100]:
# Criando a Máquina Preditiva - Treinando e Testando 
clf = lgb.train(params=param, 
                early_stopping_rounds=200,
                verbose_eval=100,
                train_set=train_data,
                valid_sets=[test_data])

y_pred = clf.predict(X_test)

/usr/local/lib/python3.7/dist-packages/lightgbm/engine.py:118: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
/usr/local/lib/python3.7/dist-packages/lightgbm/callback.py:189: UserWarning: Early stopping is not available in dart mode
  warnings.warn('Early stopping is not available in dart mode')

[100]	valid_0's multi_logloss: 1.20627
[200]	valid_0's multi_logloss: 1.12776
[300]	valid_0's multi_logloss: 1.08776
[400]	valid_0's multi_logloss: 1.08023

# RANKING
https://machinehack.com/hackathons/playstore_app_downloads_prediction_weekend_hackathon_16/leaderboard

![](https://cienciadosdados.com/images/2021/Thumbs/en1.png)

In [101]:
# Criação dos valores de teste
Xtest = test_df

In [103]:
# Predição com os valores de Teste
y_pred = clf.predict(Xtest)
y_pred

array([[4.19004754e-04, 9.34140142e-03, 1.42580244e-04, ...,
        3.68773091e-04, 4.75512415e-02, 1.65227414e-04],
       [3.66976084e-04, 7.87213386e-02, 2.00017447e-04, ...,
        3.49566306e-04, 1.98830935e-01, 2.59776937e-04],
       [5.94158695e-04, 8.79301382e-02, 2.92421631e-04, ...,
        4.55450699e-04, 1.68533775e-03, 5.04067501e-04],
       ...,
       [4.31161579e-03, 3.72004588e-03, 1.84706079e-04, ...,
        7.81048026e-04, 7.15872730e-03, 1.97262264e-04],
       [3.21938648e-04, 9.67599840e-03, 5.62333558e-04, ...,
        2.38933708e-04, 1.65043010e-03, 4.43442404e-04],
       [4.95665046e-04, 1.45176750e-02, 1.59887093e-04, ...,
        4.14559672e-04, 1.50496265e-01, 1.82430742e-04]])

In [104]:
sub=pd.read_csv("/content/PlayStoreApps-ParticipantsData/Sample_Submission.csv")

In [105]:
# Exemplo de Submissão em competições de Machine Learnign
submission = pd.DataFrame(data=y_pred, columns=sub.columns)
submission=submission*1.05
submission.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
24771,0.362716,0.002456,0.000183,0.000270,0.393142,0.000764,0.005043,0.006406,0.000342,0.252612,0.000930,0.000131,0.000225,0.018401,0.000490,0.002354,0.003291,0.000244
24772,0.477994,0.004988,0.000197,0.037949,0.015959,0.000947,0.227065,0.003875,0.000438,0.135317,0.001073,0.000143,0.018934,0.003894,0.000335,0.118766,0.001909,0.000218
24773,0.004527,0.003906,0.000194,0.000264,0.425327,0.000575,0.000601,0.346631,0.000343,0.023997,0.000789,0.000141,0.000362,0.233470,0.000330,0.000820,0.007517,0.000207
24774,0.000338,0.010160,0.000590,0.000136,0.000493,0.917055,0.000273,0.000826,0.001141,0.000331,0.114237,0.000074,0.000129,0.000737,0.001030,0.000251,0.001733,0.000466
24775,0.000520,0.015244,0.000168,0.000320,0.023737,0.000657,0.000545,0.725340,0.000334,0.001417,0.003754,0.000122,0.000204,0.118656,0.000334,0.000435,0.158021,0.000192

In [106]:
# Conversão dos valores em .csv
submission.to_csv('cdd.csv', index=False)

In [107]:
# BKP dos valores submetidos na sua Máquina atual 
from google.colab import files
files.download('cdd.csv')