<a href="https://colab.research.google.com/github/mlfigueiredo/CienciaDosDados/blob/main/Random_Forest_vs_XGBoost.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <font color='blue'>Machine Learning - Random Forest e XGBoost</font>

# Random Forest

Random Forest é uma extensão do Baggig Decision Tree. Amostras do dataset de treino são usadas com reposição, mas as árvores são criadas de uma forma que reduz a correlação entre classificadores individuais (Random Forest é um conjunto de árvores de decisão).

In [8]:
# Import dos módulos
from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
import pandas as pd

In [11]:
df=pd.read_csv("/content/prima.csv")
df.head()

         6.148  72    35        0    33.6   0.627    50    1  Unnamed: 8
0 1.000     85  66  29.0    0.000  26.600   0.351  31.0  0.0         NaN
1 8.183     64   0  23.3    0.672  32.000   1.000   NaN  NaN         NaN
2 1.000     89  66  23.0   94.000  28.100   0.167  21.0  0.0         NaN
3 0.000    137  40  35.0  168.000  43.100   2.288  33.0  1.0         NaN
4 5.116     74   0   0.0   25.600   0.201  30.000   0.0  NaN         NaN

In [13]:
# Carregando os dados
arquivo = 'prima.csv'
colunas = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
dados = read_csv(arquivo, names = colunas)
array = dados.values
dados

    preg    plas  pres  skin  test     mass    pedi     age  class
0  6.148  72.000    35     0  33.6    0.627  50.000   1.000    NaN
1  0.000   1.000    85    66  29.0    0.000  26.600   0.351   31.0
2  1.000   8.183    64     0  23.3    0.672  32.000   1.000    NaN
3  2.000   1.000    89    66  23.0   94.000  28.100   0.167   21.0
4  3.000   0.000   137    40  35.0  168.000  43.100   2.288   33.0
5  4.000   5.116    74     0   0.0   25.600   0.201  30.000    0.0
6  5.000   3.000    78    50  32.0   88.000  31.000   0.248   26.0

In [14]:
array

array([[6.148e+00, 7.200e+01, 3.500e+01, 0.000e+00, 3.360e+01, 6.270e-01,
        5.000e+01, 1.000e+00,       nan],
       [0.000e+00, 1.000e+00, 8.500e+01, 6.600e+01, 2.900e+01, 0.000e+00,
        2.660e+01, 3.510e-01, 3.100e+01],
       [1.000e+00, 8.183e+00, 6.400e+01, 0.000e+00, 2.330e+01, 6.720e-01,
        3.200e+01, 1.000e+00,       nan],
       [2.000e+00, 1.000e+00, 8.900e+01, 6.600e+01, 2.300e+01, 9.400e+01,
        2.810e+01, 1.670e-01, 2.100e+01],
       [3.000e+00, 0.000e+00, 1.370e+02, 4.000e+01, 3.500e+01, 1.680e+02,
        4.310e+01, 2.288e+00, 3.300e+01],
       [4.000e+00, 5.116e+00, 7.400e+01, 0.000e+00, 0.000e+00, 2.560e+01,
        2.010e-01, 3.000e+01, 0.000e+00],
       [5.000e+00, 3.000e+00, 7.800e+01, 5.000e+01, 3.200e+01, 8.800e+01,
        3.100e+01, 2.480e-01, 2.600e+01]])

In [37]:
# Separando o array em componentes de input e output
X = array[:,0:8]
Y = array[:,8]
Y

array([nan, 31., nan, 21., 33.,  0., 26.])

In [38]:
# Definindo os valores para o número de folds
num_folds = 3

In [39]:
# Definindo o número de trees
num_trees = 100
max_features = 3

In [40]:
# Separando os dados em folds
kfold = KFold(num_folds, shuffle=True) 
kfold

KFold(n_splits=3, random_state=None, shuffle=True)

In [41]:
# Criando o modelo
modelo = RandomForestClassifier(n_estimators = num_trees, max_features = max_features) #max_features é....

In [42]:
# Cross Validation
resultado = cross_val_score(modelo, X, Y, cv=kfold)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:372: FitFailedWarning:
3 fits failed out of a total of 3.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
3 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_forest.py", line 328, in fit
    X, y, multi_output=True, accept_sparse="csc", dtype=DTYPE
  File "/usr/local/lib/python3.7/dist-packages/sklearn/base.py", line 581, in _validate_data
    X, y = check_X_y(X, y, **check_params)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py", line 979, in check_X_y
    y = _check_y(y, multi_output=multi_output, y_numeric=y_numeric)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py", line 990, in _check_y
    y, accept_sparse="csr", force_all_finite=True, ensure_2d=False, dtype=None
  File "/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py", line 800, in check_array
    _assert_all_finite(array, allow_nan=force_all_finite == "allow-nan")
  File "/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py", line 116, in _assert_all_finite
    type_err, msg_dtype if msg_dtype is not None else X.dtype
ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

  warnings.warn(some_fits_failed_message, FitFailedWarning)

In [31]:
# Print do resultado
print("Acurácia: %.3f" % (resultado.mean() * 100))

Acurácia: nan

# XGBoost

O algoritmo XGBoost é uma extensão do GBM (Gradient Boosting Method) que permite trabalhar com multithreading em uma única máquina e processamento paralelo em um cluster de vários servidores. A principal vantagem do XGBoost sobre o GBM é sua capacidade de gerenciar dados esparsos. O XGBoost automaticamente aceita dados esparsos como input sem armazenar zeros na memória.

Principais vantagensdo XGBoost:

1- Aceita dados esparsos (o que permite trabalhar com matrizes esparsas), sem a necessidade de conversão para matrizes densas.

2- Constrói uma árvore de aprendizagem utilizando um moderno método de split (chamado quatile sketch), o que resulta em tempo de processamento muito menor que métodos tradicionais.

3- Permite computação paralela em uma única máquina (através do uso de multithreading) e processamento paralelo em máquinas distribuídas em cluster.

Basicamente o XGBoost utiliza os mesmos parâmetros do GBM e permite tratamento avançado de dados missing.

O XGBoost é muito utilizado por Cientistas de Dados que vencem competições no Kaggle. Repositório no Github: https://github.com/dmlc/XGBoost

In [43]:
# Import dos módulos
from pandas import read_csv
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from xgboost import XGBClassifier

In [45]:
# Carregando os dados
arquivo = 'prima.csv'
colunas = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
dados = read_csv(arquivo, names = colunas)
array = dados.values

In [46]:
# Separando o array em componentes de input e output
X = array[:,0:8]
Y = array[:,8]

In [47]:
# Definindo o tamanho dos dados de treino e de teste
teste_size = 0.33
seed = 7

In [48]:
# Criando o dataset de treino e de teste
X_treino, X_teste, y_treino, y_teste = train_test_split(X, Y, test_size = teste_size, random_state = seed)

In [49]:
# Criando o modelo
modelo = XGBClassifier()

In [50]:
# Treinando o modelo
modelo.fit(X_treino, y_treino)

XGBClassifier(objective='multi:softprob')

In [51]:
# Print do modelo
print(modelo)

XGBClassifier(objective='multi:softprob')

In [52]:
# Fazendo previsões
y_pred = modelo.predict(X_teste)
previsoes = [round(value) for value in y_pred]

In [ ]:
# Avaliando as previsões
accuracy = accuracy_score(y_teste, previsoes)
print("Acurácia: %.2f%%" % (accuracy * 100.0))